
p {color:green;}
ol{color:orange;}
h1 {font-size:40pt;font-family:helvetica;color:#21EF00;font-style:italic;}
.bigred{color:red;font-size:50pt;font-weight:bold;}
.goright{float:right;}
<body>{background-colour: blue}</body>
